body {
	font-family: 'Oswald', sans-serif;
}
/* @media (max-width: 425px) {
	.table_details {
		width: 98%;
	}
} */

@media (max-width: 767.5px) {
	.characteristics_table {
		font-family: 'Oswald', sans-serif;
		font-size: 15px;
	}
	.detail_content__data {
		width: 100%;
		margin-top: 40px;
		display: flex;
		overflow: hidden;
		cursor: default;
		/* justify-content: center; */
		flex-direction: column;
		align-items: center;
	}
	.block_2_items,
	.block_3_items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.block_3_items {
		align-items: flex-start;
	}
	.table_details {
		width: 98%;
	}
	.size_in_table,
	.size_in_table2 {
		width: 98%;
		font-size: 14px;
	}

	.btn_and_delivery {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.product_name {
		font-family: 'Oswald', sans-serif !important;
		margin-bottom: 40px;
		font-size: 30px;
		text-align: center;
	}
	.block_delivery_pay {
		margin-top: 30px;
		width: 90%;
		font-family: 'Oswald', sans-serif !important;
		font-weight: 800;
		font-size: 30pt;
		line-height: 1.2;
		border: 1px solid grey;
	}
}
@media (min-width: 768px) {
	.detail_content__data {
		width: 100%;
		margin-top: 40px;
		display: flex;
		overflow: hidden;
		cursor: default;
		/* justify-content: center; */
		flex-direction: column;
		align-items: center;
	}

	.block_2_items,
	.block_3_items {
		display: flex;
		flex-direction: row;
		column-count: 2;
		align-items: center;
		justify-content: space-around;
	}

	.block_3_items {
		align-items: flex-start;
	}
	.table_details {
		width: 98%;
	}
	.size_in_table,
	.size_in_table2 {
		width: 98%;
	}
	.btn_and_delivery {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.block_delivery_pay {
		font-family: 'Oswald', sans-serif !important;
		font-weight: 800;
		font-size: 30pt;
		line-height: 1.2;
		width: 40%;
		border: 1px solid grey;
	}
}

.padding-left-20 {
	padding-left: 20px;
}

.price_tab {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	margin: 30px 0;
	font-size: 16px;
	font-weight: bold;
}
.price_tab td:first-child {
	width: 50%;
	background: red;
	color: var(--white);
}

.characteristics_table {
	text-align: center;
}

.size_in_table2 {
	margin-bottom: 30px;
}

.size_in_table tbody {
	display: flex;
	width: 100%;
}

.size_in_table2 tbody {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.size_in_table2 th {
	width: 100%;
	color: var(--gray-dark);
	background-color: var(--red2);
	text-align: center;
}

.size_in_table tr {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.size_in_table2 tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
	/* column-count: 3; */
}

.size_in_table td {
	border: 1px solid grey;
}

.size_in_table2 td {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 200px;
	font-weight: bold;
	font-size: 16px;
	color: var(--gray);
	height: 300px;
}

.size_in_table td:hover,
.size_in_table2 tr:hover,
.characteristics_table tr:hover {
	background: #ddd;
}
.accordion-body {
	display: flex;
	flex-direction: column;
}
.accordion-body img {
	width: 30%;
	margin: 0 auto;
}

.accordion-header button {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.accordion-button::after {
	position: absolute;
	right: 20px;
}

.block_delivery_pay p {
	margin-left: 20px;
	margin-bottom: 0;
	font-size: 12px;
}
.block_delivery_pay h3 {
	font-size: 16px;
}

.block_delivery_pay div:not(:last-child) {
	border-bottom: 1px solid grey;
}

.block_delivery_pay_text {
	padding: 20px;
}

.product_item__btn_bay {
	/* border: 2px solid #ff0000; */
	font-size: 20pt;
	cursor: pointer;
	transition: all 0.3s;
	color: white !important;
	background: #ff0000;
	width: 260px;
	height: 64px;
	justify-content: center;
	padding: 5px;
}

.text_id {
	display: flex;
	flex-direction: row;
	/* gap: 30px; */
	font-family: 'Oswald', sans-serif !important;
}

.product_name {
	font-family: 'Oswald', sans-serif !important;
	margin-bottom: 40px;
}
.product_stock {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	color: var(--white);
	width: 150px;
	height: 50px;
	border-radius: 25px 25px;
}

.product_stock.disabled {
	background-color: var(--gray);
}
.product_article {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 50px;
	margin-left: 20px;
	font-weight: bold;
}

.product_price {
	font-family: 'Oswald', sans-serif !important;
	font-size: 48px;
	font-weight: bold;
	margin: 50px 0;
}

.mb_btn__group {
	gap: 20px;
	margin-bottom: 50px;
	display: flex;
}

.input-group__count {
	border: 1px solid grey;
	width: 100px;
	font-family: 'Oswald', sans-serif !important;
	font-size: 36px;
	text-align: center;
}

.btn-outline-secondary {
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: red;
}
.btn-outline-secondary span {
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.btn-outline-secondary:hover {
	background-color: red;
}

.product_item__btn_bay:disabled {
	background-color: grey;
}
