.price_tab {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	margin: 30px 0;
	font-size: 16px;
	font-weight: bold;
}
.price_tab td:first-child {
	width: 50%;
	background: red;
	color: var(--gray);
}

.characteristics_table {
	text-align: center;
}

.size_in_table,
.size_in_table2 {
	width: 100%;
}

.size_in_table2 {
	margin-bottom: 30px;
}

.size_in_table tbody {
	display: flex;
	width: 100%;
}

.size_in_table2 tbody {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.size_in_table2 th {
	width: 100%;
	color: var(--gray-dark);
	background-color: var(--red2);
	text-align: center;
}

.size_in_table tr {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.size_in_table2 tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid black;
	/* column-count: 3; */
}

.size_in_table td {
	border: 1px solid grey;
}

.size_in_table2 td {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 200px;
	font-weight: bold;
	font-size: 16px;
	color: var(--gray);
	height: 300px;
}

.size_in_table td:hover,
.size_in_table2 tr:hover,
.characteristics_table tr:hover {
	background: #ddd;
}
.accordion-body {
	display: flex;
	flex-direction: column;
}
.accordion-body img {
	width: 30%;
	margin: 0 auto;
}

.accordion-header button {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.accordion-button::after {
	position: absolute;
	right: 20px;
}

.block_2_items {
	display: flex;
	flex-direction: row;
	column-count: 2;
	align-items: center;
}

.block_delivery_pay {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 800;
	font-size: 30pt;
	line-height: 1.2;
	width: 50%;
	border: 1px solid grey;
}

.block_delivery_pay p {
	margin-left: 20px;
	margin-bottom: 0;
	font-size: 12px;
}
.block_delivery_pay h3 {
	font-size: 16px;
}

.block_delivery_pay div:not(:last-child) {
	border-bottom: 1px solid grey;
}

.block_delivery_pay_text {
	padding: 20px;
}
.btn_and_delivery {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.product_item__btn_bay {
	/* border: 2px solid #ff0000; */
	font-size: 20pt;
	cursor: pointer;
	transition: all 0.3s;
	color: white !important;
	background: #ff0000;
	width: 200px;
	height: 64px;
	justify-content: center;
	padding: 5px;
}
